body {
 background-color: hsl(30, 38%, 92%);
 font-family: "Montserrat", sans-serif;
 font-size: 14px;
 color: hsl(212, 21%, 14%);
}

main {
 margin-top: 10vh;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 width: 600px;
 height: 450px;
 margin-bottom: 40px;
 overflow:hidden;
 border-radius: 10px;
}

picture {
 width: 300px;
 height: 450px;
 background-image: url(images/image-product-desktop.jpg);
 background-size: 300px 450px;
}

#info {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 background-color:hsl(0, 0%, 100%);
 width: 300px;
 height: 450px;
 padding-top: 20px;
 padding-left: 0px;
 padding-right: 0px;
 padding-bottom: 0;
}

h1 {
 font-family: "Fraunces", serif;
 font-size: 32px;
 line-height: 1.0;
 font-weight: 700;
 margin-top: 10px;
 margin-bottom: 8px;
 margin-left: 40px;
 width: 200px;
}

h2 {
 text-transform: uppercase;
 font-weight: 500;
 color: hsl(228, 12%, 48%);
 font-size: 12px;
 letter-spacing: 4px;
 margin-left: 40px;
}

p {
line-height: 1.6;
color: hsl(228, 12%, 48%);
width: 240px;
margin-left: 40px;
}

.prices {
display: flex;
align-items: center;
margin-left: 40px;
margin-top: 15px;
margin-bottom: 30px;
}

.price-old {
 margin-left: 20px;
 text-decoration: line-through;
 color: hsl(228, 12%, 48%);
}

strong {
 font-family: "Fraunces", serif;
 font-size: 32px;
 line-height: 1.0;
 font-weight: 700;
 color: hsl(158, 36%, 37%);
}

.attribution { 
 font-size: 11px; text-align: center; 
}

.attribution a { 
 color: hsl(228, 45%, 44%); 
}

.btn {
 display: flex;
 justify-content:center;
 background-color: hsl(158, 36%, 37%);
 padding: 14px;
 border-radius: 6px;
 width: 190px;
 color: hsl(0, 0%, 100%);
 font-family: "Montserrat", sans-serif;
 font-weight: 600;
 text-decoration: none;
 margin-left: 40px;
}

a:hover {
background-color: #1A4031;
}

.btn img {
margin-right: 10px;
}

@media only screen and (max-width: 600px)  {
 main {
  margin-top: 5vh;
  flex-direction: column;
  width: 344px;
  height: 610px;
  margin-bottom: 40px;
  overflow:hidden;
  border-radius: 10px;
 }

 #info {
  width: 344px;
 }

 picture {
  width: 344px;
  height: 240px;
  background-image: url(images/image-product-mobile.jpg);
  background-size: 344px 240px;
 }

 h1 {
  margin-left: 20px;
  width: 280px;
 }

 h2 {
  margin-left: 20px;
 }

 p {
  width: 290px;
  margin-left: 20px;
  }

  .prices {
   margin-left: 20px;
   }

   .btn {
    display: flex;
    justify-content:center;
    background-color: hsl(158, 36%, 37%);
    padding: 14px;
    border-radius: 6px;
    width: 276px;
    color: hsl(0, 0%, 100%);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
   }
}